body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

.container {
  background: linear-gradient(135deg, #444 60%, #6A6A6A 40%);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto; /* Permitir scroll vertical si es necesario */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  background-color: #333;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.logo {
  width: 200px;
  max-width: 100%;
}

.content {
  padding: 40px 20px;
  width: 100%;
  max-width: 1200px;
}

.quote {
  font-style: italic;
  font-size: 28px;
  margin-bottom: 60px;
}

.highlight {
  color: #00aaff;
  font-weight: bold;
}

.content p {
  font-size: 24px;
  margin: 20px 0;
}

.translate-button {
  margin-top: 20px;
  background-color: #00aaff;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.translate-button:hover {
  background-color: #007acc;
}

.content-section {
  background-color: white;
  padding: 40px 20px;
  text-align: center;
}

.content-section h2 {
  font-size: 30px;
  color: #444;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.camera-view {
  border: 2px solid #000;
  border-radius: 10px;
  width: 100%;
  max-width: 640px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.close-button {
  background: #ff0000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .content {
    padding: 20px;
  }

  .quote {
    font-size: 24px;
  }

  .translate-button {
    font-size: 20px;
    padding: 10px 20px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}
